In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

DATASET_FOLDER = 'raw'
FILENAME = 'matches.csv'

Reading the dataset from the csv file using pandas. 
head print the column names and first 5 rows.
"Unnamed: 0" column we already see is useless.

In [7]:
file_path = f'{DATASET_FOLDER}/{FILENAME}'
df = pd.read_csv(file_path)

print(df.head())

   Unnamed: 0        date           time            comp        round  day  \
0           0  2020-09-21  20:15 (21:15)  Premier League  Matchweek 2  Mon
1           2  2020-09-27  16:30 (17:30)  Premier League  Matchweek 3  Sun
2           4  2020-10-03  17:30 (18:30)  Premier League  Matchweek 4  Sat
3           5  2020-10-17  17:30 (18:30)  Premier League  Matchweek 5  Sat
4           7  2020-10-24  12:30 (13:30)  Premier League  Matchweek 6  Sat

  venue result  gf  ga        opponent   xg  xga  poss  attendance  \
0  Away      W   3   1          Wolves  1.9  0.6    65         NaN
1  Home      L   2   5  Leicester City  0.9  2.9    72         NaN
2  Away      D   1   1    Leeds United  1.2  2.4    49         NaN
3  Home      W   1   0         Arsenal  1.3  0.9    58         NaN
4  Away      D   1   1        West Ham  1.0  0.3    69         NaN

           captain formation         referee  match report  notes  sh  sot  \
0      Fernandinho   4-2-3-1  Andre Marriner  Match Report    NaN  13    8
1      Fernandinho   4-2-3-1  Michael Oliver  Match Report    NaN  16    5
2  Kevin De Bruyne     4-3-3       Mike Dean  Match Report    NaN  23    1
3  Raheem Sterling   3-1-4-2  Chris Kavanagh  Match Report    NaN  13    5
4  Raheem Sterling     4-3-3  Anthony Taylor  Match Report    NaN  14    7

   dist  fk  pk  pkatt  season             team
0  21.1   2   1      1    2024  Manchester City
1  19.8   1   0      0    2024  Manchester City
2  18.2   1   0      0    2024  Manchester City
3  17.7   0   0      0    2024  Manchester City
4  20.9   1   0      0    2024  Manchester City

describe print stats for each col.
we can see "notes" is to remove having all nan.

In [8]:
print(df.describe())

        Unnamed: 0           gf           ga           xg          xga  \
count  4788.000000  4788.000000  4788.000000  4788.000000  4788.000000
mean     63.044069     1.447995     1.405388     1.396512     1.364745
std      42.865191     1.312635     1.286927     0.828847     0.814947
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%      28.000000     0.000000     0.000000     0.800000     0.700000
50%      62.000000     1.000000     1.000000     1.300000     1.200000
75%      87.000000     2.000000     2.000000     1.900000     1.800000
max     182.000000     9.000000     9.000000     7.000000     7.000000

              poss    attendance  notes           sh          sot  \
count  4788.000000   3155.000000    0.0  4788.000000  4788.000000
mean     50.432957  38397.586688    NaN    12.619256     4.261278
std      12.810958  17595.849137    NaN     5.548444     2.459963
min      18.000000   2000.000000    NaN     0.000000     0.000000
25%      41.000000  25513.500000    NaN     9.000000     2.000000
50%      51.000000  36347.000000    NaN    12.000000     4.000000
75%      60.000000  53235.500000    NaN    16.000000     6.000000
max      82.000000  75546.000000    NaN    36.000000    15.000000

              dist           fk           pk       pkatt       season
count  4786.000000  4788.000000  4788.000000  4788.00000  4788.000000
mean     17.356247     0.453216     0.118212     0.14599  2022.365079
std       3.049341     0.665250     0.342362     0.37937     1.461850
min       5.300000     0.000000     0.000000     0.00000  2020.000000
25%      15.400000     0.000000     0.000000     0.00000  2021.000000
50%      17.200000     0.000000     0.000000     0.00000  2023.000000
75%      19.100000     1.000000     0.000000     0.00000  2024.000000
max      39.900000     4.000000     3.000000     3.00000  2024.000000

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    4788 non-null   int64
 1   date          4788 non-null   object
 2   time          4788 non-null   object
 3   comp          4788 non-null   object
 4   round         4788 non-null   object
 5   day           4788 non-null   object
 6   venue         4788 non-null   object
 7   result        4788 non-null   object
 8   gf            4788 non-null   int64
 9   ga            4788 non-null   int64
 10  opponent      4788 non-null   object
 11  xg            4788 non-null   float64
 12  xga           4788 non-null   float64
 13  poss          4788 non-null   int64
 14  attendance    3155 non-null   float64
 15  captain       4788 non-null   object
 16  formation     4788 non-null   object
 17  referee       4788 non-null   object
 18  match report  4788 non-null   object
 19  notes         0 non-null      float64
 20  sh            4788 non-null   int64
 21  sot           4788 non-null   int64
 22  dist          4786 non-null   float64
 23  fk            4788 non-null   int64
 24  pk            4788 non-null   int64
 25  pkatt         4788 non-null   int64
 26  season        4788 non-null   int64
 27  team          4788 non-null   object
dtypes: float64(5), int64(10), object(13)
memory usage: 1.0+ MB
None

About Dataset
Features description
date : the date of the game                         change the type in date
time : the time of the game                         change this
comp : the competition of the game                  REMOVE ALWAYS SAME
round : the round of the game
day : the day of the week of the game
venue : the venue of the game
result : the result of the game
gf : the goals for the home team
ga : the goals for the away team
opponent: the opponent of the home team
xg : the expected goals for the home team
xga : the expected goals for the away team
poss : the possession of the home team
captain : the captain of the home team
formation : the formation of the home team
referee : the referee of the game
sh : the shots of the home team
sot : the shots on target of the home team
dist : the average distance of the shots of the home team
fk : the free kicks of the home team
pk : the penalty kicks of the home team
pka : the penalty kicks attempted of the home team
season : the season year of the match
team: the home team

Columns to remove:
"Unnamed: 0"
"comp" ALWAYS SAME
"round" 
"attendance" too much nan
"note" all nan
"match report" always same strings

look if there are duplicates and values of formations

In [12]:
print(df.duplicated().sum()) # its 0 -> no duplicates
print(df.formation.value_counts())

0
formation
4-2-3-1       1382
4-3-3         1025
4-4-2          583
3-4-3          548
3-5-2          266
4-1-4-1        258
4-4-1-1        141
3-4-1-2        113
5-3-2          107
5-4-1           99
4-5-1           49
4-3-1-2         47
4-1-2-1-2◆      35
4-2-2-2         29
3-1-4-2         25
4-3-2-1         22
3-2-4-1         21
3-3-3-1         17
3-5-1-1         14
3-4-3◆           3
4-1-3-2          2
4-2-4-0          2
Name: count, dtype: int64

formation need to be cleaned somewhere (-0, ◆ are wrong chars) (and we can also choose to remove classes with lower cardinality and collapse in "other" class value)